<a  class="list-group-item clearfix " [routerLink]="[index]" routerLinkActive="active">
    <!-- <div class="row">
        <div class="col-md-5">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text">{{item.desc}}</p>
        </div>
        <span class="col-md-5">
            <img src="{{item.imageUrl}}" alt="" class="img-responsive" style="max-height:'50px'">
        </span>
    </div> -->
    <div class="flex">
        <div>
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text">{{item.desc}}</p>
        </div>
        <div>
            <img src="{{item.imageUrl}}" alt="" class="img-responsive" style="max-height:'90px'">
        </div>
    </div>
    
</a>