

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12"> -->
            <!-- question 1 -->
           <!-- <input type="text" class="form-control" [(ngModel)]="username"/>
           <p>{{username}}</p>
           <button class="btn btn-primary" [disabled]="!username" (click)="emptyUsername">Reset</button> -->
           <!-- question 2 -->
           <!-- <button class="btn btn-primary" (click)="show()">Display Details</button>
           <p *ngIf="ShowText">ASSSSSSSSSSSSSSSSSSSSSS</p>
           <div *ngFor="let item of counter;let i = index">
               <p [ngStyle]="{backgroundColor: i > 4 && 'green'}"
                    [ngClass] ="{ textcolor:i > 4 }">
            {{item}}
           </p></div> -->

        <!-- </div>
    </div>
</div> -->
<app-header (feature) = onNavigate($event)></app-header>
<div class="layout">
    
    <!-- <app-recipes *ngIf="PageInfo === 'recipe'"></app-recipes>
    <app-shopping-list *ngIf="PageInfo !== 'recipe'"></app-shopping-list> -->
    <router-outlet></router-outlet>
</div>
